.Prod{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.Menu{
    width: 600px;
    margin: 10px;
    margin: 0 auto;

}
.Food{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.food-name{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}
.btn{
    width: 120px;
    height: 30px;
    background: #61dafb;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 5px;
    border: none;

}

.img{
    width: 100px;
    height: 100px;
}
.Cart{
    margin: 20px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border: 3px solid #61dafb;
}
.Total{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}